<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Daftar Users</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" ng-model="$ctrl.nama" placeholder="Masukan nama" />
            <button ng-click="$ctrl.onAddUser()"></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li ng-repeat="user in $ctrl.users">{{ user }}</li>
            </ul>
        </div>
    </div>
</div>